Excel_List/Connected Services/Excel_List_WCF/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50222/Service1.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50222/Service1.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50222/Service1.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:50222/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Put_data_into_DB_InputMessage">
    <wsdl:part name="parameters" element="tns:Put_data_into_DB" />
  </wsdl:message>
  <wsdl:message name="IService1_Put_data_into_DB_OutputMessage">
    <wsdl:part name="parameters" element="tns:Put_data_into_DBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_setNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_setNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_setNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_setNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_data_from_DB_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_data_from_DB" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_data_from_DB_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_data_from_DBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_DB_Record_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_DB_Record" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_DB_Record_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_DB_RecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_column_name_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_column_name" />
  </wsdl:message>
  <wsdl:message name="IService1_Load_column_name_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_column_nameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Record_InputMessage">
    <wsdl:part name="parameters" element="tns:Record" />
  </wsdl:message>
  <wsdl:message name="IService1_Record_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Put_data_into_DB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Put_data_into_DB" message="tns:IService1_Put_data_into_DB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Put_data_into_DBResponse" message="tns:IService1_Put_data_into_DB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_setNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Load_setNumbers" message="tns:IService1_Load_setNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Load_setNumbersResponse" message="tns:IService1_Load_setNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_data_from_DB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Load_data_from_DB" message="tns:IService1_Load_data_from_DB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Load_data_from_DBResponse" message="tns:IService1_Load_data_from_DB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_DB_Record">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Load_DB_Record" message="tns:IService1_Load_DB_Record_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Load_DB_RecordResponse" message="tns:IService1_Load_DB_Record_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_column_name">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Load_column_name" message="tns:IService1_Load_column_name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Load_column_nameResponse" message="tns:IService1_Load_column_name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Record">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Record" message="tns:IService1_Record_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecordResponse" message="tns:IService1_Record_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Put_data_into_DB">
      <soap:operation soapAction="http://tempuri.org/IService1/Put_data_into_DB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_setNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/Load_setNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_data_from_DB">
      <soap:operation soapAction="http://tempuri.org/IService1/Load_data_from_DB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_DB_Record">
      <soap:operation soapAction="http://tempuri.org/IService1/Load_DB_Record" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_column_name">
      <soap:operation soapAction="http://tempuri.org/IService1/Load_column_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Record">
      <soap:operation soapAction="http://tempuri.org/IService1/Record" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50222/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>